<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">

          <div class="m-t-30">
            <h2 class = "text-center">Login</h2>
          </div>

          <form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="onSubmit(form.value)" class="m-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email</mat-label>

            <div *ngIf="form.submitted && controls.email.invalid" class="text-danger">
              <small *ngIf="controls.email.errors?.required" color="warn">Email is required.</small>
              <small *ngIf="controls.email.errors?.email">Email is invalid.</small>
            </div>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput  name="email" type="email" formControlName="email" ngModel required/>
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Password</mat-label>

              <div *ngIf="form.submitted && controls.email.invalid" class="text-danger">
                <small *ngIf="controls.email.errors?.required" color="warn">Password is required.</small>
                <small *ngIf="controls.email.errors?.email">Wrong password</small>
              </div>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput name="password" type="password" formControlName="password" ngModel required/>
            </mat-form-field>
            <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">Remember me</mat-checkbox>
              <a
                class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
                >Forgot Password ?</a
              >
            </div>
            <a  mat-flat-button color="primary" class="w-100">
              <button mat-flat-button color="primary" type="submit">Submit</button>
            </a>

            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24"
            >New to R2M Trading System?
            <a
              [routerLink]="['/authentication/register']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Create an Account
            </a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
