<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>All Portfolios</mat-card-title>
    <mat-card-subtitle class="mat-body-1">
      <table mat-table class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Name Column -->
        <ng-container matColumnDef="portfolioId">
          <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="text-600"> Portfolio Id </th>
          <td mat-cell *matCellDef="let element"> {{element.portfolioId}} </td>
        </ng-container>
      
        <!-- Worth Column -->
        <ng-container matColumnDef="portfolioName">
          <th mat-header-cell *matHeaderCellDef [style.background-color]="color">  Portfolio Nameh </th>
          <td mat-cell *matCellDef="let element"> {{element.portfolioname}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="dateCreated">
          <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Date Created </th>
          <td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="portfolioWorth">
          <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Portfolio Worth </th>
          <td mat-cell *matCellDef="let element" > {{element.portfolioWorth}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="clientId">
          <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Client Id </th>
          <td mat-cell *matCellDef="let element"> {{element.clientId}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
